<%= form_with model: @post, local: true do |form| %>
<div>
	<%= form.label :name %>
	<%= form.text_field :name %>
	<% @post.errors.full_messages_for(:name).each do |message| %>
		<div><%=message%></div>
	<%end%>
</div>	
<br>
<div>
	<%= form.label :image%>
	<%= form.file_field  :image, accept: 'image/png, image/gif, image/jpeg'%>
	<% @post.errors.full_messages_for(:image).each do |message| %>
		<div><%= message %></div>
	<%end%>
</div>
<br>
<div class="form-group mt-4 mb-5" id="cracker1-button">
	<%= form.submit class: "btn btn-primary btn-lg" %>
</div>
<%end%>


<!-- 
<%#= form_with model: @post, local: false do |form| %>
  <div class="modal-body">
	    <div>
			<%#= form.label :name %>
			<%#= form.text_field :name %>
			<%#@post.errors.full_messages_for(:name).each do |message| %>
				<div><%#=message%></div>
			<%#end%>
		</div>	
		<br>
		<div>
			<%#= form.label :image%>
			<%#= form.text_field :image %>
			<%# @post.errors.full_messages_for(:image).each do |message| %>
				<div><%#= message %></div>
			<%#end%>
		</div>
		<br>
  </div>
  <div class="modal-footer">
	    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	  	<%#= form.submit class: "btn btn-primary btn-lg" %>
  </div>
<%#end%> -->